<div class="container-fluid">

  <div class="search-container">

    <div class="form-group">
      <label for="">Pesquisar</label>
      <div>
        <input class="form-control" [formControl]="searchControl">
        <button class="btn btn-dark"
                [disabled]="!searchControl.valid" (click)="doSearch()">Pesquisar</button>
      </div>
    </div>
    <div class="form-group">
      <label for="">Pesquisar com <i>autocomplet</i></label>
    </div>
  </div>
  <uss-loader *ngIf="loading$ | async"></uss-loader>

  <div *ngIf="!(loading$ | async) && !(error$ | async) && !! cityWeather">
    <uss-current-weather [cityWeather]="cityWeather"
                          (toggleBookmark)="onToggleBookmark()"></uss-current-weather>
  </div>

  <div *ngIf="!(loading$ | async) && error$ | async">
    <a>Tentar novamente</a>
  </div>
</div>
