<div class="container-fluid">

  <div class="search-container">

    <div class="form-group">
      <label for="">Pesquisar</label>
      <div>
        <input class="form-control" [formControl]="searchControl">
        <button class="btn btn-dark"
                [disabled]="!searchControl.valid"
                (click)="doSearch()">Pesquisar</button>
      </div>
    </div>
    <div class="form-group">
      <label for="">Pesquisar com <i>autocomplet</i></label>
      <uss-cities-typeahead [formControl]="searchControlWithAutocomplete"></uss-cities-typeahead>
    </div>
  </div>
  <uss-loader *ngIf="loading$ | async"></uss-loader>

  <div *ngIf="!(loading$ | async) && !(error$ | async) && !!cityWeather">
    <uss-current-weather [cityWeather]="cityWeather"
                         [isFavorite]="isCurrentFavorite$ | async"
                         [unit]="unit$ | async"
                         (toggleBookmark)="onToggleBookmark()"></uss-current-weather>
  </div>

  <div *ngIf="!(loading$ | async) && error$ | async">
    <a>Tentar novamente</a>
  </div>
</div>
